@import './stylesheet/main.scss';

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 10px;
	overflow-x: hidden;

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: $appBlack;
	}
	::-webkit-scrollbar-thumb {
		background: $appGrey;
		border-radius: 1rem;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $appGrey;
	}
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	@include ipad {
		font-size: 7.5px;
	}

	@include mobile {
		font-size: 7px;
	}
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
	background-color: $appBlack;
	color: $appWhite;
	overflow-x: hidden;
}

input {
	background: none;
	border: none;
	font-family: inherit;
	outline: none;
	color: inherit;
}

button {
	font-family: inherit;
	background: none;
	color: inherit;
	outline: none;
	cursor: pointer;
}

textarea {
	background: none;
	border: none;
	outline: none;
	resize: none;
	color: inherit;
	font-family: inherit;
}
